
.wrapper {
	margin: 0 auto;
	width: 909px;
 	font-family: "Lucida Sans Unicode";
}
.clearfix {
	content: '';
	clear: both;
	display: block;
}

/*HEADER*/

.info {
	margin-bottom: 9px;
}

.tel {
	width: 30%;
    margin-top: 3px;
	float: left;
	display: inline-block;
	position: relative;
 
}

.tel img {
    vertical-align: middle;
}

.tel_number {
	text-decoration: none;
	font-family: "Arial";
  	color: rgb(94, 105, 109);
  	line-height: 1.415;
}

.avtoriz {
	width: 55%;
	height: 25px;
	border-radius: 3px;
  	padding-left: 17px;
  	margin-left: 17px;
	display: inline-block;
	position: relative;
	box-shadow: 0px 3px 3px 0px rgba(150, 150, 150, 0.75);
    background-image: -webkit-linear-gradient(top, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -o-linear-gradient(top, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
}

.log_in {
    padding-top: 3px;
    padding-top: 4px;
}

.log_in img {
    vertical-align: middle;
}

.avtoriz li {
	display: inline-block;
	color: white;
}

[placeholder="логин"],
[placeholder="пароль"] {
	height: 13px;
	width: 111px;
}

.top_submit {
	width: 38px;
	color: #fff;
	font-size: 11px;
	background-color: transparent;
	border: none;
	border-right: 1px solid #fff;
	cursor: pointer;
}

.log_in {
    width: 100%;
    height: 100%;
 
}

.log_in a {
	color: #fff;
	font-size: 11px;
	display: inline-block;
	height: 19px;
	line-height: 19px;
	text-decoration: none;
}

.log_in .forgot {
	padding-left: 30px;
	color: #b1bcc0;
	text-decoration: underline;
}

.navi {
	width: 8%;
	height: 19px;
    margin-top: 1px;
  	border: 1px solid #bdc4c7;
	border-radius: 10px;
	float: right;
	display: inline-block;
	position: relative;
}

.navi a {
 	display: inline;
	padding: 3px;

}

/*LOGO*/
.logo {
    position: relative;
}
.logo_text {
    margin-left: 3px;
    position: absolute;
    top: 50px;
    left: 0;
    background: #052039;
    width: 265px;
    height: 123px;
    padding-top: 50px;
    box-sizing: border-box;
}
.logo_text a {
    font-size: 37px;
    font-family: "Lucida Sans Unicode";
    color: #cecece;
    text-decoration: none;
}
.logo_text h3 {
    font-size: 25px;
    font-family: "Lucida Sans Unicode";
    text-align: right;
    color: #a41502;
}

/*NAV*/
nav {
	margin-top: 5px;
	margin-bottom: 11px;
    height: 34px;
    background-image: -ms-linear-gradient(top, #464D54 0%, #010101 100%);
    background-image: -moz-linear-gradient(top, #464D54 0%, #010101 100%);
    background-image: -o-linear-gradient(top, #464D54 0%, #010101 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #464D54), color-stop(100, #010101));
    background-image: -webkit-linear-gradient(top, #464D54 0%, #010101 100%);
	-webkit-box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
    border: 1px solid rgb(13, 22, 66);
    border-radius: 4px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.top_menu {
	padding-right: 18px;
  	height: 34px;
	display: inline-block;
	float: right;
	position: relative;
}

.top_menu li {
    margin-top: 3px;
    padding-left: 18px;
    padding-right: 18px;
    text-transform: uppercase;
	display: inline-block;
}

.top_menu li a{
	color: #b1bcc0;
	font-size: 15px;
  	line-height: 1.867;
  	text-align: center;
  	text-decoration: none;
}


.top_menu li a:hover {
	padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s all;
    color: rgb(255, 255, 255);
	border-radius: 11px;
    background-image: linear-gradient(to bottom , rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
}

.kalk {
    width: 22%;
	height: 34px;
	float: right;
}

.kalk img {
    padding-top: 5px;
}

.kalk span {
    position:relative;
    top:-2px;
    left:0;
}

.name {
	font-size: 11px;
 	font-family: "Arial";
  	color: rgb(146, 155, 159);
}

.number {
	font-size: 12px;
  	font-family: "Arial";
  	color: rgb(13, 90, 143);
}

/*SEARCH*/

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-top: 10px;
}
.search_auto {
    display: flex;
    flex-wrap: wrap;
    width: 414px;
    height: 100%;
    border: 1px solid #9C9C9D;
    border-radius: 20px;
    box-shadow: 2px 4px 5px 0.00px rgba(104, 104, 104, 0.75);
}

.search_auto_header {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.search_auto_header h4 {
    color: #154468;
    font: 900 10px Arial;
}

.search_auto_header h3 {
    color: #154467;
    font: 900 12px Arial;
}

.search_auto content {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.search_auto content ul li {
    list-style-type: none;
    height: 17px;
    width: 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.search_auto content label {
    color: #154468;
    font: 700 10px / 28px Arial;
    width: 71px;
    line-height: 100%;
}

.search_auto content span {
    color: #77858b;
    font: 400 8px Arial;
}

.search_auto content select {
    width: 101px;
    border-bottom: none;
}

.search_auto .search_link {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    color: #154467;
    font: italic 14px Arial;
}

.search_tyre {
    width: 192px;
    height: 100%;
    border: 1px solid #9C9C9D;
    border-radius: 20px;
    box-shadow: 2px 4px 5px 0.00px rgba(150, 150, 150, 0.75);
}

.search_tyre_header {
    color: #114165;
    font: 900 12px / 20px Arial;
    margin: 0 0 3px 8px;
}

.search_tyre ul li {
    list-style-type: none;
    margin: 0 0 6px 8px;
}

.search_tyre ul label {
    color: #000000;
    font: 600 10px 'Lucida Sans Unicode';
}

.search_tyre ul select {
    width: 53px;
    border-bottom: none;
}

.search_tyre .serach_tyre_R {
    margin-left: 40px;
}

.season_option {
    display: flex;
    align-items: flex-start;
}

.season {
    display: inline-block;
    color: #000000;
    font: 400 12px 'Lucida Sans Unicode';
    margin-left: 2px;
    margin-bottom: -5px;
}

.season li {
    height: 10px;
    margin-bottom: 4px;
}

.season input {
    display: none;
}

.season input + label {
    display: inline-block;
    height: 11px;
    width: 11px;
    border: inset 1px solid #888;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px #aaa;
}

.season input:checked + label {
    display: inline-block;
    height: 11px;
    width: 11px;
    border: inset 1px solid 888;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px #111;
    background-color: #555;
}

.search_tyre .search_link {
    display: block;
    text-align: right;
    padding-right: 15px;
    color: #154467;
    font: italic 14px Arial;
}

.search_disc {
    width: 268px;
    height: 100%;
    padding-top: 2px;
    padding-left: 2px;
    border: 1px solid #9C9C9D;
    border-radius: 20px;
    box-shadow: 2px 4px 5px 0.00px rgba(150, 150, 150, 0.75);
}

.search_disc content {
    display: flex;
    justify-content: center;   
}

.search_disc span {
    color: #77858b;
    font: 400 9px / 5px 'Lucida Sans Unicode';
}

.search_disc_header {
    color: #114165;
    font: 900 12px Arial;
    margin-left: 10px;
}

.search_disc .left_menu {
    width: 180px;
    border-right: 1px solid black;
    padding-right: 3px;
    margin-right: 10px;
}

.search_disc ul li {
    list-style-type: none;
    line-height: 0;
}

.left_menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px 0;
}

.left_menu label {
    color: #0c3256;
    font: 600 9px 'Lucida Sans Unicode';
    width: 85px;
    line-height: 8px;
}

.search_disc select {
    width: 58px;
    border-bottom: none;
}

.right_menu {
    width: 80px;
    height: 100%;
}

.right_menu label {
    color: #0c3256;
    font: 600 9px 'Lucida Sans Unicode';
    width: 85px;
}

.right_menu p {
    color: #77858b;
    font: 400 8px / 8px 'Lucida Sans Unicode';
}

.search_disc  .search_link {
    display: block;
    text-align: right;
    padding: 10px 15px 0 0;
    color: #154467;
    font: italic 14px Arial;
}

/*CONTENT*/
.main_content {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
}

.left_menu_C {
	background-color: white;
	width: 20%;
}

.katalogL,
.katalogR {
    border: 1px solid rgb( 121, 135, 141 );
    border-radius: 15px;
    box-shadow: 1.5px 2.598px 3px 0px rgb( 150, 150, 150 );
    font-size: 14px;
    font-family: "Lucida Sans Unicode";
    color: rgb( 17, 65, 101 );
    width: 100%;
    padding: 3px 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.katalogL,
.katalogR img {
    margin-right: 3px;
}

.icon {
    border-radius: 50%;
    background-image: -moz-linear-gradient( -90deg, rgb( 32, 105, 136 ) 0%, rgb( 17, 65, 101 ) 59.229%, rgb( 12, 50, 86 ) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb( 32, 105, 136 ) 0%, rgb( 17, 65, 101 ) 59.229%, rgb( 12, 50, 86 ) 100%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

.katalogL h2 {
    display: block;
    margin: auto 0;
}

.list {
	padding-left: 35px;
	margin-top: 10px;
	margin-bottom: 4px;
}

.list li {
	list-style-image: url(../img/marker-small.png);
}

.list a {
	font-size: 12px;
	font-family: "Lucida Sans Unicode";
  	color: rgb(17, 65, 101);
  	line-height: 1.819;
	color: #869095;
	text-decoration: none;
}

.list a:hover {
	font-style: italic;
	color: #0c3256;
	text-decoration: underline;
}

.section {
	width: 148px;
    padding: 2px 0 2px 3px;
	border: 1px solid #465961;
	border-radius: 13px;
	font: 13px Arial;
	color: #114165;
	box-shadow: 0px 2px 2px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.section img {
    margin-right: 3px;
}

.right_menu_C {
	background-color: white;
	width: 20%;	
}

.check {
	margin: 12px 0 16px 10px;
}

.check__inpput {
	font-size: 12px;
	line-height: 18px;
	font-family: "Lucida Sans Unicode";
  	color: rgb(17, 65, 101);
  	line-height: 1.819;
	color: #465961;
}

.check label {
	padding-left: 14px;
}

.second_submit {
	height: 24px;
	width: 80px;
	margin-left: 34px;
	border: 0px solid;
	border-radius: 13px;
	font-size: 11px;
	color: white;
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
    background-image: -o-linear-gradient(top, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
	box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
}

.center-page {
	width: 50%;
	padding: 13px 30px 6px 23px;
  	display: flex;
  	flex-flow: row wrap;
	justify-content: space-between;
  	align-items: center;
  	align-content: flex-start;
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E4E7E8), color-stop(100, #93a7b0));
}

.tire {
	width: 137px;
	height: 180px;
	margin-bottom: 23px;
	text-align: center;
	font: 13px Lucida;
}

.tire p {
	line-height: 13px;	
}

.photo {
	width: 137px;
	height: 126px;
	padding-top: 5px;
	margin-bottom: 8px;
	background-color: #fff;
	border: 1px solid #b0b9bc;
	border-radius: 10px;
}

.photo img {
	display: block;
	margin: 0 auto;
}

.brand {
	font-size: 14px;
	font-weight: bold;
	color: #206988;
}

.price {
	color: #114165;
	font: 900 italic 17px Calibri;
}

/*FOOTER*/

footer {
	height: 191px;
	text-align: center;
	font-size: 9px;
	background-color: #213a4d;
	color: #7f4740;
}

.brandlogo {
	background-color: white;
	padding-top: 43px;
	padding-bottom: 25px;
}

.brand_links {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.brand_links a {
    margin-right: 10px;
}

.brand_links a:last-child {
    margin-right: 0px;
}

.end {
	margin-top: 15px;
}

.end a {
	font-size: 13px;
  	font-family: "Arial";
  	line-height: 1.364;
  	color: #bec6c9;
  	text-align: center;
	padding: 0 14px;
	margin-bottom: 16px;
	text-decoration: none;
	border-left: 1px solid #fff;
}

.end a:first-child {
	border-left: none;
}

.end a:hover {
	color: #52abcb;
}

.end p {
	margin-top: 19px;
	font-size: 10px;
 	font-family: "Arial";
  	color: rgb(127, 71, 64);
  	line-height: 1.8;
  	text-align: center;
}