.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-top: 10px;
}
.search_auto {
    display: flex;
    flex-wrap: wrap;
    width: 414px;
    height: 100%;
    border: 1px solid #9C9C9D;
    border-radius: 20px;
    box-shadow: 2px 4px 5px 0.00px rgba(104, 104, 104, 0.75);
}

.search_auto_header {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.search_auto_header h4 {
    color: #154468;
    font: 900 10px Arial;
}

.search_auto_header h3 {
    color: #154467;
    font: 900 12px Arial;
}

.search_auto content {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.search_auto content ul li {
    list-style-type: none;
    height: 17px;
    width: 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.search_auto content label {
    color: #154468;
    font: 700 10px / 28px Arial;
    width: 71px;
    line-height: 100%;
}

.search_auto content span {
    color: #77858b;
    font: 400 8px Arial;
}

.search_auto content select {
    width: 101px;
    border-bottom: none;
}

.search_auto .search_link {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    color: #154467;
    font: italic 14px Arial;
}

.search_tyre {
    width: 192px;
    height: 100%;
    border: 1px solid #9C9C9D;
    border-radius: 20px;
    box-shadow: 2px 4px 5px 0.00px rgba(150, 150, 150, 0.75);
}

.search_tyre_header {
    color: #114165;
    font: 900 12px / 20px Arial;
    margin: 0 0 3px 8px;
}

.search_tyre ul li {
    list-style-type: none;
    margin: 0 0 6px 8px;
}

.search_tyre ul label {
    color: #000000;
    font: 600 10px 'Lucida Sans Unicode';
}

.search_tyre ul select {
    width: 53px;
    border-bottom: none;
}

.search_tyre .serach_tyre_R {
    margin-left: 40px;
}

.season_option {
    display: flex;
    align-items: flex-start;
}

.season {
    display: inline-block;
    color: #000000;
    font: 400 12px 'Lucida Sans Unicode';
    margin-left: 2px;
    margin-bottom: -5px;
}

.season li {
    height: 10px;
    margin-bottom: 4px;
}

.season input {
    display: none;
}

.season input + label {
    display: inline-block;
    height: 11px;
    width: 11px;
    border: inset 1px solid #888;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px #aaa;
}

.season input:checked + label {
    display: inline-block;
    height: 11px;
    width: 11px;
    border: inset 1px solid 888;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px #111;
    background-color: #555;
}

.search_tyre .search_link {
    display: block;
    text-align: right;
    padding-right: 15px;
    color: #154467;
    font: italic 14px Arial;
}

.search_disc {
    width: 268px;
    height: 100%;
    border: 1px solid #9C9C9D;
    border-radius: 20px;
    box-shadow: 2px 4px 5px 0.00px rgba(150, 150, 150, 0.75);
}

.search_disc content {
    display: flex;
    justify-content: space-between;   
}

.search_disc span {
    color: #77858b;
    font: 400 9px / 5px 'Lucida Sans Unicode';
}

.search_disc_header {
    color: #114165;
    font: 900 12px Arial;
    margin-left: 10px;
}

.search_disc .left_menu {
    width: 180px;
    border-right: 1px solid black;
    padding-right: 3px;
    margin-right: 10px;
}

.search_disc ul li {
    list-style-type: none;
    line-height: 0;
}

.left_menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px 0;
}

.left_menu label {
    color: #0c3256;
    font: 600 9px 'Lucida Sans Unicode';
    width: 85px;
    line-height: 8px;
}

.search_disc select {
    width: 58px;
    border-bottom: none;
}

.right_menu {
    width: 80px;
    height: 100%;
}

.right_menu label {
    color: #0c3256;
    font: 600 9px 'Lucida Sans Unicode';
    width: 85px;
}

.right_menu p {
    color: #77858b;
    font: 400 8px / 8px 'Lucida Sans Unicode';
}

.search_disc  .search_link {
    display: block;
    text-align: right;
    padding: 10px 15px 0 0;
    color: #154467;
    font: italic 14px Arial;
}