

table {
    position: relative;
    width: 500px;
    height: 540px;
    border-collapse: collapse;
    border: 10px solid white;
    margin: 50px auto; 
}

td {
    border: 10px solid black;
}

.yel {
    background: url(../img/yellow.png); 
    background-size: repeat x ;
}

.rd {
 	background: url(../img/red.png); 
    background-size: repeat x ;   
    width: 60%;
}

.blck {
     background: url(../img/black.png); 
    background-size: repeat x ;
}

.bl {
    background: url(../img/blue.png); 
    background-size: repeat x ;
}
